html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}

.dropdown {
    margin-left: 2%;
}

/* set body text to white and background to dark blue */
body {
    color:white;
    background: url(backdrop.jpg) top right no-repeat;
    background-attachment: fixed;
    background-position: top;
}

/* set a margin across entire body */
main {
    margin: 2%;
}

#landing {
    height: 40rem;
    padding: 1%;
    display: flex;
    align-content: flex-end;
}

/* set a top margin and height for cards */
.card {
    overflow: hidden;
    margin-top: 2%;
    height:20rem;
}

/* set dimensions for card image to fit parent entirely */
.card a img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card a:hover {
    opacity: .75;
}

/* set the most recent project to be slightly larger than other cards */
#mostRecent {
    height: 30rem;
}

footer h2 {
    text-align: center;
}

footer .col-12 .col-12 {
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content:space-around;
    align-content:flex-start; 
}